html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    background: url(../img/Vector01.svg) no-repeat right 0 top 0,
    url(../img/Vector02.svg) no-repeat 0 650px,
    url(../img/Vector03.svg) no-repeat right -50px top 1200px,
    url(../img/Vector\ 04.svg) no-repeat -50px 1900px,
    url(../img/FooterShape.svg) no-repeat left 0 bottom 0;
    background-size: auto, auto, auto, auto, contain;
    cursor: none;
}
a {
    cursor: none;
}
.circle{
    border-radius:50%;
    z-index:99999;
    position:fixed;
    transition:all 100ms ease-out;
    width:40px;
    height:40px;
    border:3px solid #202020;
    top:-23px;
    left:-23px;  
    pointer-events:none;
    background: url(../img/dotCursor.svg);
}
.circleH{
    background: #2020207a;
    transition: background .5s;
}
::selection {
    background: #2020205e;
    color: white;
}
::-moz-selection {
    background: #2020205e;
    color: white;
}
main {
    max-width: 960px;
    margin: auto;
    position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
    position: fixed;
    transform-origin: left;
    top: 300px;
    left: 100px;
    transform: rotate(-90deg);
}
header nav{
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    right: 220px;
}

/* ---------------------------------- INTRO --------------------------------- */

.intro img {
    width: 80px;
    transform: rotate(90deg);  
}
.intro a {
    text-decoration: none;
    color: #202020;
}
.intro h1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 20px;
    text-align: right;
    display:flex;
    flex-flow: row-reverse;
    margin-left:20px;  
}
.intro p{
    margin-right:30px;
}
.intro span {
font-size: 16px;
font-weight: 700;
}

/* ---------------------------------- MENU ---------------------------------- */
.menu{
    display: flex;
    margin-top:20px;  
}
.menu a {
    text-decoration: none;
    color: #202020;
    transition: .5s;
    opacity: 0.5;
    z-index: 1000;
}
.menu a:hover {
    opacity: 1;
    z-index: 10;
    color: #202020;
}
.menu li {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 20px;
}

/* -------------------------------------------------------------------------- */
/*                                    WORKS                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------- IMG + TXT ------------------------------- */
section {
    margin-top: 70px;
}
section img {
    width: 100%;
    transition: .5s;
}
.container {
    text-align: center;
    position: relative;
}
.container:hover img {
    opacity: 0.05;
}
.container a {
    color: #202020;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    z-index: 10;
    text-indent: -99999px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.txt {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.container:hover .txt {
    display: block;
}
.txt h2 {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0;
}
.txt h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
}
.txt p {
    font-weight: 300;
    line-height: 130%;
}
.txt span {
    text-transform: uppercase;
    font-weight: 700;
}
.discover {
    text-transform: uppercase;
}
.works .box:last-child {
    margin-bottom: 200px;
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    width: 970px;
    margin: auto;
}
/* --------------------------------- SOCIAL --------------------------------- */
.social {
    text-align: center;
    font-size: 70px;
    margin: 80px 0 20px 0;
}
.social a {
    color: #202020;
    margin: 0 20px;
    z-index: -5;
}
.social a:hover i {
    transition: .5s;
    color: #FFF;
    z-index: -4;
    position: relative;
}

/* --------------------------------- CONTACT --------------------------------- */
.contact a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #202020;
    font-size: 12px;
}
.contact i {
    margin-right: 10px;
}
.contact {
    line-height: 150%;
}

/* --------------------------------- LOGO --------------------------------- */
.logo {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300;
}
.logo span {
    font-weight: 700;
}
.logo img {
width: 40px;
padding-left: 10px;
}

/* --------------------------------- COPYRIGHT --------------------------------- */
.copyright {
    font-size: 12px;
}

/* --------------------------------- FOOTERLINE --------------------------------- */
.footerline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIAQUERIES                                */
/* -------------------------------------------------------------------------- */

/* --------------------------------- 1024px and 1280px --------------------------------- */
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 80%;
        margin: auto;
    }
    footer {
        width: 800px;
    }
    .social {
        margin-bottom: 0;
    }   
}

/* --------------------------------- 925px and 1024px --------------------------------- */
@media all and (min-width: 925px) and (max-width: 1024px) {
    body {
        background: url(../img/Vector01.svg) no-repeat right 0 top 0,
        url(../img/Vector02.svg) no-repeat 0 750px,
        url(../img/Vector03.svg) no-repeat right -50px top 1400px,
        url(../img/Vector\ 04.svg) no-repeat -50px 2300px,
        url(../img/FooterShape.svg) no-repeat left 0 bottom 0;
        background-size: 600px, 600px, 600px, 600px, contain;
        cursor: auto;
    }
    a {
        cursor: pointer;
    }
    header {
        z-index: 99998;
    }
    section {
        margin-top: 100px;
    }
    .container {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .txt {
        width: 500px;
        display: block;
        position: static;
        transform: translate(0);
        width: auto;
    }
    .container:hover img {
        opacity: 1;
    }
    .txt h2 {
        font-size: 45px;
    }
    .txt p {
        display: none;
    }
    .works .box:last-child {
        margin-bottom: 150px;
    }
    footer {
        width: 700px;
    }
    .social {
        margin-bottom: 0;
        font-size: 50px;
    }
}
/* --------------------------------- > 925px --------------------------------- */
@media (max-width: 925px) {
    body {
        background: url(../img/Vector01.svg) no-repeat right 0 top 0,
        url(../img/Vector02.svg) no-repeat 0 850px,
        url(../img/Vector03.svg) no-repeat right -50px top 1700px,
        url(../img/Vector\ 04.svg) no-repeat -50px 2500px,
        url(../img/FooterShape.svg) no-repeat left 0 bottom 0;
        background-size: 500px, 500px, 500px, 500px, contain;
        cursor: auto;
    }
    a {
        cursor: pointer;
    }
    header {
        transform: rotate(0deg);
        top: 50px;
        z-index: 100;
        background: #FFF;
        left: 0;
        right: 0;
        justify-content: center;
        align-content: center;
        box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.2);
    }
    header nav {
        flex-flow: row;
        position: static;
        justify-content: center;
        align-items: center;
    }
    .intro img {
        transform: rotate(0deg);
        width: 60px;
        }
    .intro h1 {
        flex-flow: row;
        text-align: left;
    }
    .intro p {
        padding-left: 20px;
    }
    section {
        margin-top: 70px;
    }
    .works .box:first-child {
        margin-top: 170px;
    }
    .container:hover img {
        opacity: 1;
    }
    .txt {
        display: block;
        position: static;
        transform: translate(0);
        width: auto;
    }
    .txt p {
        display: none;
    }
    .container {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .works .box:last-child {
        margin-bottom: 100px;
    }
    footer {
        width: 700px;
    }
    .social {
        font-size: 50px;
        margin-bottom: 0;
    }
}
/* --------------------------------- > 845px --------------------------------- */
@media (max-width: 845px) {
    body {
        background: url(../img/Vector01.svg) no-repeat right 0 top 0,
        url(../img/Vector02.svg) no-repeat 0 700px,
        url(../img/Vector03.svg) no-repeat right -50px top 1400px,
        url(../img/Vector\ 04.svg) no-repeat -50px 2200px;
        background-size: 85%, 85%, 85%, 85%, contain;
    }
    .menu {
        display: flex;
        flex-direction: column;
        line-height: 200%;
    }
    footer {
        width: 500px;
        background: #F7C45F;
        width: 100%;
        height: 270px;
    }
    .social {
        padding-top: 30px;
    }
    .social a {
        font-size: 70px;
    }
    .social a:hover i {
        transition: .5s;
        color: #FFF;
        z-index: 999;
    }
    .logo {
        display: none;
    }
    .copyright {
        margin-top: 30px;
    }
    .footerline {
        display: block;
        margin: auto;
        text-align: center;
        padding-top: 30px;
    }
    .contact a {
        font-size: 16px;
        line-height: 230%;
        justify-content: center;
    }
}
/* --------------------------------- > 565px --------------------------------- */
@media (max-width: 565px) {
    .intro img {
        width: 50px;
    }
    .intro h1{
        font-size: 12px;
        line-height: 140%;
    }
    .menu li {
        font-size: 16px;
    }
}