html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    background: url(../img/Vector01.svg) no-repeat right 0 top 0,
    url(../img/Vector02.svg) no-repeat 0 650px,
    url(../img/Vector03.svg) no-repeat right -50px top 1200px,
    url(../img/Vector\ 04.svg) no-repeat 100px 1900px,
    url(../img/FooterShape.svg) no-repeat left 0 bottom 0;
    cursor: none;
}
a {
    cursor: none;
}
.circle{
    border-radius:50%;
     z-index:99999;
    position:fixed;
    transition:all 100ms ease-out;
    width:40px;
    height:40px;
    border:3px solid #202020;
    top:-23px;
    left:-23px;  
    pointer-events:none;
}
.circleH{
    background: #2020207a;
}
main {
    max-width: 960px;
    margin: auto;
    position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
    position: fixed;
    transform-origin: left;
    top:300px;
    left:100px;
    transform: rotate(-90deg);
}
header nav{
    display: flex;
    flex-flow: row-reverse;
    position:relative;
    right:220px;
}

/* ---------------------------------- INTRO --------------------------------- */

.intro img {
    width: 80px;
    transform: rotate(90deg);  
}
.intro a {
    text-decoration: none;
    color: #202020;
}
.intro h1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 20px;
    text-align: right;
    display:flex;
    flex-flow: row-reverse;
    margin-left:20px;  
}
.intro p{
    margin-right:30px;
}
.intro span {
font-size: 16px;
font-weight: 700;
}

/* ---------------------------------- MENU ---------------------------------- */
.menu{

    display: flex;
    margin-top:20px;  
}
.menu a {
    text-decoration: none;
    color: #202020;
    transition: .5s;
    opacity: 0.5;
    z-index: 1000;
}
.menu a:hover {
    opacity: 1;
    z-index: 10;
    color: #202020;
}
.menu li {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 20px;
}

/* -------------------------------------------------------------------------- */
/*                                    WORKS                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------- IMG + TXT ------------------------------- */
section {
    margin-top: 70px;
}
section img {
    width: 100%;
    z-index: -2;
    position: relative;
}
.container {
    text-align: center;
    position: relative;
}
.container a {
    color: #202020;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.txt {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}
.txt h2 {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0;
}
.txt h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
}
.txt p {
    font-weight: 300;
    line-height: 130%;
}
.txt span {
    text-transform: uppercase;
    font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    margin-top: 190px;
    width: 970px;
    margin: auto;
}
/* --------------------------------- SOCIAL --------------------------------- */
.social {
    text-align: center;
    font-size: 70px;
    margin: 80px 0 20px 0;
}
.social a {
    color: #202020;
    margin: 0 20px;
    z-index: -5;
}
.social a:hover i {
    transition: .5s;
    color: #FFF;
    z-index: -4;
    position: relative;
}

/* --------------------------------- CONTACT --------------------------------- */
.contact a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #202020;
    font-size: 12px;
}
.contact i {
    margin-right: 10px;
}
.contact {
    line-height: 150%;
}

/* --------------------------------- LOGO --------------------------------- */
.logo {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300;
}
.logo span {
    font-weight: 700;
}
.logo img {
width: 40px;
padding-left: 10px;
}

/* --------------------------------- COPYRIGHT --------------------------------- */
.copyright {
    font-size: 12px;
}

/* --------------------------------- FOOTERLINE --------------------------------- */
.footerline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIAQUERIES                                */
/* -------------------------------------------------------------------------- */



